[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rhoneycomb"]
	path = rhoneycomb
	url = https://github.com/plantbreedingbiometryaua2/rhoneycomb
